# Proyectos y cursos
01-udemy/
curso-jquery-escuela.it/


# Node y dependencias
node_modules/
pnpm-lock.yaml

# Carpeta de distribución / compilados
dist/

# Sistema y editor (opcional, recomendable)
.DS_Store
Thumbs.db
.vscode/
