/*
    -------------------------------------------------
    ----------  /jquery.antonydev.tech/  ------------
    ----------  /src/styles/pages/  -----------------
    ----------  /03-desarrolloweb.com.css  ----------
    -------------------------------------------------
*/


.cursos__logos--desarrollowebcom {
    width: 14rem;
    height: auto;
    mix-blend-mode: multiply;
}
